<div id="menu">
    <ul class="menu-item-files">
        <li class="menu-item" data-menu="files"><a href="/index.php/apps/files/files">Files</a></li>
        <li class="menu-item" data-menu="personal-files"><a href="/index.php/apps/files/personal">Personal files</a>
        </li>
        <li class="menu-item" data-menu="recent"><a href="/index.php/apps/files/recent">Recent</a></li>
        <li class="menu-item" data-menu="favorites"><a href="/index.php/apps/files/favorites">Favorites</a></li>
        <li class="menu-item" data-menu="shares"><a href="/index.php/apps/files/shareoverview">Shares</a></li>
        <li class="menu-item" data-menu="tags"><a href="/index.php/apps/files/tags">Tags</a></li>
        <li class="menu-item" data-menu="all-folders"><a href="/index.php/apps/files/folders">All folders</a></li>
    </ul>
    <div id="menu-divider"></div>
    <ul>
        <li class="menu-item menu-widget" data-menu="widgets"><img src="/custom_apps/myappcustom/img/widget.svg"
                alt="Widgets"> Widgets</li>
        <li class="menu-item has-submenu" id="views-trigger" data-menu="views">
            <div><img src="/custom_apps/myappcustom/img/eye.svg" alt="Views">Views </div><span class="arrow"><img
                    src="/custom_apps/myappcustom/img/dropdown.svg"></span>
        </li>
        <ul class="submenu" id="views-submenu">
            <li class="submenu-item" data-submenu="basic-view">Basic View</li>
            <li class="submenu-item" data-submenu="detailed-view">Detailed View</li>
            <li class="submenu-item" data-submenu="my-view-1">My View 1</li>
            <li class="submenu-item" data-submenu="my-view-2">My View 2</li>
            <li class="submenu-item" data-submenu="it-director">IT Director</li>
            <li class="submenu-item" data-submenu="cfo">CFO</li>
            <li class="submenu-item" data-submenu="ceo">CEO</li>
        </ul>
    </ul>
    <div id="menu-divider"></div>
    <ul class="menu-item-pages">
        <li class="menu-item" data-menu="services">SERVICES</li>
        <li class="menu-item" data-menu="faqs">FAQs</li>
        <li class="menu-item" data-menu="contact-us">CONTACT US</li>
    </ul>
</div>